<div class="sidebar">
<snav>

	<ul>
	  <li><%= link_to "Home", root_path %></li>
	  <li><%= link_to "Test", testpage_path %></li>

	</ul>
</snav>
</div>
<div class="vertspace">
  &nbsp
  &nbsp
  &nbsp
  &nbsp
  &nbsp
  &nbsp
    &nbsp
  &nbsp
  &nbsp
</div>


